<modal (backdropClick)="onCancel()">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <!-- Display for edit copy -->
    @if (editTypeDisplay === 'C'){
    <h2>Edit Copy</h2>
    <control label="Copy" forId="Copy" [required]="true">
      <select
        id="Copy"
        name="Copy"
        class="form-control"
        required
        [(ngModel)]="updateCopy.id"
        (ngModelChange)="onCopySelect($event)"
      >
        <option disabled selected value="">Select a copy to edit</option>
        @for (copy of copies; track copy.id) {
        <option [value]="copy.id">{{ copy.id }}</option>
        }
      </select>
    </control>

    <!-- display only if copy is selected -->
    @if(updateCopy.id){
    <control label="Weight" forId="weight" [required]="true">
      <input
        id="weight"
        name="weight"
        type="number"
        class="form-control"
        [(ngModel)]="updateCopy.weight"
        required
        placeholder="e.g. 3"
      />
    </control>

    <control label="Comment" forId="copyComment" [required]="false">
      <textarea
        id="copyComment"
        name="copyComment"
        class="form-control"
        [(ngModel)]="updateCopy.comment"
        rows="3"
        placeholder="Used copy, tiles slightly scratched."
      >
      </textarea>
    </control>
    }}
    <!-- display for edit game -->
    @else if (editTypeDisplay === 'G') {
    <h2>Edit Game</h2>
    <control label="Game" forId="Game" [required]="true">
      <select
        id="Game"
        name="Game"
        required
        class="form-select"
        [(ngModel)]="updateGame.id"
        (ngModelChange)="onGameSelect($event)"
      >
        <option disabled selected value="">Select a game</option>
        @for (game of games; track game.id) {
        <option [value]="game.id">{{ game.name }}</option>
        }
      </select>
    </control>

    <!-- display only if game is selected -->
    @if(updateGame.id){
    <control label="Game ID" forId="gameId" [required]="false">
      <input
        id="gameId"
        name="gameId"
        type="text"
        class="form-select"
        [(ngModel)]="updateGame.id"
        disabled
        placeholder="e.g. g3"
      />
    </control>

    <control label="Short description" forId="gameShortDescription" [required]="false">
      <input
        id="gameShortDescription"
        name="gameShortDescription"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.shortDescription"
        placeholder="Easy and fast game"
      />
    </control>

    <control label="Number of players" forId="gameNumberOfPlayers" [required]="false">
      <input
        id="gameNumberOfPlayers"
        name="gameNumberOfPlayers"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.numberOfPlayers"
        placeholder="e.g. 2-5"
      />
    </control>

    <control label="Playing time" forId="gamePlayingTime" [required]="false">
      <input
        id="gamePlayingTime"
        name="gamePlayingTime"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.playingTime"
        placeholder="e.g. 2-5"
      />
    </control>

    <control label="Min. age" forId="gameMinAge" [required]="false">
      <input
        id="gameMinAge"
        name="gameMinAge"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.minAge"
        placeholder="e.g. 11"
      />
    </control>

    <control label="Weight" forId="gameWeight" [required]="false">
      <input
        id="gameWeight"
        name="gameWeight"
        class="form-control"
        type="number"
        [(ngModel)]="updateGame.weight"
        placeholder="e.g. 11"
      />
    </control>

    <control label="Designer" forId="gameDesigner" [required]="false">
      <input
        id="gameDesigner"
        name="gameDesigner"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.designer"
        placeholder="e.g. John Game Changer"
      />
    </control>

    <control label="Artist" forId="gameArtist" [required]="false">
      <input
        id="gameArtist"
        name="gameArtist"
        type="text"
        class="form-control"
        [(ngModel)]="updateGame.artist"
        placeholder="e.g. Borys Art Maker"
      />
    </control>

    <control label="Comment" forId="gameComment" [required]="false">
      <textarea
        id="gameComment"
        name="gameComment"
        [(ngModel)]="updateGame.comment"
        class="form-control"
        rows="3"
        placeholder="Used copy, tiles slightly scratched."
      >
      </textarea>
    </control>
    } }
    <button-group>
      <app-button buttonType="button" variant="secondary" (buttonClick)="onCancel()"
        >Cancel</app-button
      >
      <app-button buttonType="submit" variant="primary" [disabled]="f.invalid">Add</app-button>
    </button-group>
  </form>
</modal>
