.btn {
  justify-content: center;
  width: 100%;
  background-color: color-mix(in srgb, #ad410f 80%, white 40%);
  font-weight: bold;
  margin-top: 1px;
}

button:hover,
button:active,
.active {
  background-color: whitesmoke;
  color: #ad410f !important;
  font-weight: bold;
}

.selected {
  background-color: whitesmoke;
  color: #ad410f;
  font-weight: bold;
  border: 1px solid #ad410f;
  border-radius: 0.375rem;
}

.left-menu {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}
