#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
  color: #ad410f;
}
.left-menu {
  max-height: calc(100vh - 115px);
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}
