<app-header />
<app-menu (select)="onSelectMenu($event)" />
<main>
  @if (selectedMenuOption === "menu1") {
  <div class="container-fluid">
    <div class="row">
      <!-- left menu -->
      <nav class="col-2 left-menu">
        <!-- sticky search -->
        <div class="sticky-top bg-body pt-1 pb-1">
          <input class="form-control" placeholder="Search" [(ngModel)]="searchGame" />
        </div>
        <!-- list of games -->
        <ul class="nav nav-pills flex-column">
          @for (game of sortedGames; track game.id) {
          <li>
            <app-game
              [game]="game"
              (selectedGame)="onSelectGame($event)"
              [isSelected]="selectedGameId === game.id"
            />
          </li>
          }
        </ul>
      </nav>

      <!-- selected game -->
      <div class="col">
        <h2 class="text-center mb-3 fw-bold sticky-top bg-body">{{ selectedGame?.name }}</h2>
        <div class="game-table">
          <game-details [selectedGame]="selectedGame" />
          <copies-details [selectedGame]="selectedGame" />
        </div>
      </div>
    </div>
  </div>
  } @else if (selectedMenuOption === "menu2") {
  <borrowed-view />
  } @else if (selectedMenuOption === "menu3") {
  <p>to do</p>
  }@else {
  <p id="fallback">Welcome, select an option at the top to get started :)</p>
  }
</main>
