<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="Game" class="form-label">Game *</label>
      <select
        id="Game"
        name="Game"
        class="form-select"
        [(ngModel)]="enteredGame"
        (ngModelChange)="onGameChange()"
        required
      >
        @for (game of games; track game.id){
        <option [value]="game.id">{{ game.name }}</option>
        }
      </select>
    </div>

    <!-- only copies from selected game-->
    <div>
      <label for="Copy" class="form-label">Copy *</label>
      <select
        id="Copy"
        name="Copy"
        class="form-select"
        [(ngModel)]="enteredCopy"
        (ngModelChange)="onCopyChange($event)"
        required
        [disabled]="!enteredGame"
      >
        @for (copy of copies; track copy.id){ @if (copy.gameId === enteredGame &&
        copy.borrowed==='N') {
        <option [value]="copy.id">{{ copy.id }}</option>
        } }
      </select>
    </div>

    <div>
      <label for="Person" class="form-label">Responsible Person</label>
      <input
        type="text"
        id="Person"
        name="Person"
        class="form-control"
        [(ngModel)]="enteredResponsiblePerson"
      />
    </div>

    <div>
      <label for="Weight" class="form-label">Weight *</label>
      <input
        type="number"
        step="0.01"
        id="Weight"
        name="Weight"
        class="form-control"
        [(ngModel)]="enteredWeight"
        required
      />
    </div>

    <div>
      <label for="Comment" class="form-label">Comment</label>
      <textarea
        id="Comment"
        name="Comment"
        class="form-control"
        rows="3"
        [(ngModel)]="enteredComment"
      ></textarea>
    </div>

    <div class="actions d-flex justify-content-end gap-2 mt-3">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid || !enteredGame || !enteredCopy"
      >
        Borrow
      </button>
    </div>
  </form>
</dialog>
