<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    @if (addTypeDisplay === 'C'){
    <h2>Add Copy</h2>

    <label for="Game">Game *</label>
    <select id="Game" name="Game" required [(ngModel)]="newCopy.gameId">
      <option disabled selected value="">Select a game for which a copy will be added</option>
      @for (game of games; track game.id) {
      <option [value]="game.id">{{ game.name }}</option>
      }
    </select>

    <label for="copyId">ID *</label>
    <input
      id="copyId"
      name="copyId"
      type="text"
      [(ngModel)]="newCopy.id"
      required
      placeholder="e.g. c3"
    />

    @if (errorMessage) {
    <small class="hint">{{ errorMessage }}</small>
    }

    <label for="weight">Weight *</label>
    <input
      id="weight"
      name="weight"
      type="number"
      [(ngModel)]="newCopy.weight"
      required
      placeholder="e.g. 3"
    />

    <label for="copyComment">Comment</label>
    <textarea
      id="copyComment"
      name="copyComment"
      [(ngModel)]="newCopy.comment"
      rows="3"
      placeholder="Used copy, tiles slightly scratched."
    >
    </textarea>

    } @else if (addTypeDisplay === 'G') {
    <h2>Add Game</h2>

    <label for="Game">Game name*</label>
    <input
      id="GameName"
      name="GameName"
      type="text"
      [(ngModel)]="newGame.name"
      required
      placeholder="e.g. The long story of burnout"
    />

    <label for="gameId">ID *</label>
    <input
      id="gameId"
      name="gameId"
      type="text"
      [(ngModel)]="newGame.id"
      required
      placeholder="e.g. g3"
    />

    @if (errorMessage) {
    <small class="hint">{{ errorMessage }}</small>
    }

    <label for="shortDescription">Short description *</label>
    <input
      id="gameShortDescription"
      name="gameShortDescription"
      type="text"
      rows="2"
      [(ngModel)]="newGame.shortDescription"
      placeholder="Easy and fast game"
    />
    <label for="gameNumberOfPlayers">Number of players</label>
    <input
      id="gameNumberOfPlayers"
      name="gameNumberOfPlayers"
      type="text"
      [(ngModel)]="newGame.numberOfPlayers"
      placeholder="e.g. 2-5"
    />

    <label for="gamePlayingTime">Playing time</label>
    <input
      id="gameNumberOfPlayers"
      name="gameNumberOfPlayers"
      type="text"
      [(ngModel)]="newGame.numberOfPlayers"
      placeholder="e.g. 2-5"
    />

    <label for="gameMinAge">Min age</label>
    <input
      id="gameMinAge"
      name="gameMinAge"
      type="text"
      [(ngModel)]="newGame.minAge"
      placeholder="e.g. 11"
    />

    <label for="gameWeight">Weight *</label>
    <input
      id="gameWeight"
      name="gameWeight"
      type="number"
      [(ngModel)]="newGame.weight"
      placeholder="e.g. 11"
    />

    <label for="gameDesigner">Designer</label>
    <input
      id="gameDesigner"
      name="gameDesigner"
      type="text"
      [(ngModel)]="newGame.designer"
      placeholder="e.g. John Game Changer"
    />

    <label for="gameArtist">Artist</label>
    <input
      id="gameArtist"
      name="gameArtist"
      type="text"
      [(ngModel)]="newGame.artist"
      placeholder="e.g. Borys Art Maker"
    />

    <label for="gameComment">Comment</label>
    <textarea
      id="gameComment"
      name="gameComment"
      [(ngModel)]="newGame.comment"
      rows="3"
      placeholder="Used copy, tiles slightly scratched."
    >
    </textarea>

    }
    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit" [disabled]="f.invalid">Add</button>
    </p>
  </form>
</dialog>
