<app-modal
  [label]="removeTypeDisplay === 'C' ? 'Remove copy' : 'Remove game'"
  (dismissed)="onCancel()"
>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    @if (removeTypeDisplay === 'C') {
    <app-control label="Copy" forId="Copy" [required]="true">
      <select id="Copy" name="Copy" class="form-select" required [(ngModel)]="selectedItemId">
        <option disabled value="">Select a copy to remove</option>
        @for (copy of copies; track copy.id) {
        <option [value]="copy.id">{{ copy.id }}</option>
        }
      </select>
    </app-control>
    } @else if (removeTypeDisplay === 'G') {
    <app-control label="Game" forId="Game" [required]="true">
      <select id="Game" name="Game" class="form-select" required [(ngModel)]="selectedItemId">
        <option disabled value="">Select a game to remove (with all copies)</option>
        @for (game of games; track game.id) {
        <option [value]="game.id">{{ game.name }}</option>
        }
      </select>
    </app-control>
    }

    <app-button-group>
      <button app-button buttonType="button" variant="secondary" (buttonClick)="onCancel()">
        Cancel
      </button>
      <button app-button buttonType="submit" variant="primary" [disabled]="f.invalid">
        Remove
      </button>
    </app-button-group>
  </form>
</app-modal>
