label {
  visibility: hidden;
}
.borrow-game {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

.borrow-game:hover {
  background-color: #db6129;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 999px;
  line-height: 1;
}
