.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: var(--primary-color);
  color: white;
}

.table-hover i:hover {
  color: var(--select-color);
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 999px;
  line-height: 1;
}

.table-hover tbody tr:hover .btn-outline-secondary.btn-icon i {
  color: whitesmoke !important;
}

.borrow-game-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  background-color: var(--top-menu-color);
  color: #fff;
}

.borrow-game-button i {
  font-size: 28px;
}

.borrow-game-button:hover {
  background-color: var(--select-color);
}
