nav {
  background-color: #ad410f;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav img.img-fluid {
  max-height: 50px;
}

nav .btn {
  color: white;
}

button:hover,
button:active,
.active {
  background-color: color-mix(in srgb, #ad410f 80%, white 15%);
  color: white !important;
}
