nav {
  background-color: var(--top-menu-color);
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav img.img-fluid {
  max-height: 50px;
}

nav .btn {
  color: white;
  border: 0px;
  border-radius: 0;
}

nav .btn:first-child {
  border-top-left-radius: 30px;
}

nav .btn:last-child {
  border-top-right-radius: 30px;
}

button:hover,
button:active,
.active {
  background-color: var(--select-color);
  color: white !important;
}
