nav {
  background-color: #ad410f;
  /* border-top: 1px solid white; */
}
nav .btn {
  color: white;
  border: 0;
  border-radius: 0;
}

button:hover,
button:active,
.active {
  background-color: color-mix(in srgb, #ad410f 80%, white 15%);
  color: white !important;
  font-weight: bold;
}
