dialog {
  width: 90%;
  max-width: 30rem;
  max-height: calc(100dvh - 100px);
  margin: 5rem auto auto;
  overflow: auto;
  background-color: var(--background-color);
  border-radius: 6px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

dialog::backdrop {
  background-color: rgba(99, 99, 99, 0.8);
}
